.countdowntimer {
	border-style: solid;
	border-color: black;
	border-width: 2px;
	font-size: 100px;
}

h1, h2, p {
	font-family: verdana;
	text-align: center;
}

.countdownclock {
	margin: auto;
}

.aligncenter {
	text-align: center;
}

.button {
	width: 400px;
	height: 90px;	
	font-size: 50px;
}

.wrapper {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 100px;
}

.imagesize{
	width: 30%;
	height: 30%;
}