body {
	font-family: verdana;
	text-align: center;
	background: coral;
	color: whitesmoke;
}

.countdowntimer {
	font-size: 100px;
}

.countdownclock {
	margin: auto;
}

.aligncenter {
	text-align: center;
}

.button {
	width: 400px;
	height: 90px;
	font-size: 50px;
	color: whitesmoke;
	background-color: brown;
}

.wrapper {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 100px;
}

img {
	width: auto;
	height: auto;
}

.circle{
	margin: auto;
	margin-top: 100px;
	width: 200px;
	height: 200px;
	background: red;
	border-radius: 50%
}

